	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/03/2020 19:58
  	*/

@font-face {
  font-family: "Flaticon-Loghme";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon-Loghme";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-loghme-"]:before, [class*=" flaticon-loghme-"]:before,
[class^="flaticon-loghme-"]:after, [class*=" flaticon-loghme-"]:after {   
  font-family: Flaticon-Loghme;
  font-size: 16px;
  font-style: normal;
}

.flaticon-loghme-plus:before {
  content: "\f100";
  font-size: 10px;
}
.flaticon-loghme-minus:before {
  content: "\f101";
  font-size: 10px;
}
.flaticon-loghme-big-plus:before {
  content: "\f100";
  font-size: 15px;
}
.flaticon-loghme-big-minus:before {
  content: "\f101";
  font-size: 16px;
}
.flaticon-loghme-account:before { 
  content: "\f102"; 
  font-size: 45px;
  padding-left: 12px;
}
.flaticon-loghme-smart-cart:before {  
  content: "\f103";
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.flaticon-loghme-card:before { 
  content: "\f104";
  padding: 0px 0px 0px 12px;
}
.flaticon-loghme-mail:before { 
  content: "\f105"; 
  padding: 0px 0px 0px 8px;
}
.flaticon-loghme-phone:before { 
  content: "\f106"; 
  padding: 0px 0px 0px 15px;
}